################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BeatSaber Playlist Creater/obj/Debug/TempPE
/BeatSaber Playlist Creater/bin/
/BeatSaber Playlist Creater/obj/
